@tailwind base;
@tailwind components;
@tailwind utilities;

main.container{
    margin-top: 150px !important;
}
/* #824A08 */

.btnOrange {
    /* background-color: rgba(239, 138, 8, 1); */
    background-color: #a06803;
    /* color: black; */
}

/*paginate */

.paginate {
    display: flex;
    justify-content: center;
}

.paginate li {
    margin: 4px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    user-select: none;
}

.paginate li.selected {
    background-color: #da9835;
    border: 1px solid #8080f4;
}

.paginate li.disabled {
    opacity: 0.4;
}

.paginate li a {
    padding: 7px 12px;
    font-size: 15px;
    display: flex;
}

/* Swiper in about page*/
.mySwiperAbout {
    margin-top: 100px;
    height: 350px;
}

.mySwiperAbout .swiper-wrapper {
    margin-top: 30px;
}

.mySwiperAbout .swiper-slide {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
    overflow: hidden;
    border: 1px solid white;
}


.mySwiperAbout .swiper-button-next,
.mySwiperAbout .swiper-button-prev {
    top: 300px !important;
    user-select: none;

}

.mySwiperAbout .swiper-button-next {
    left: 52% !important;
    background-color: rgba(239, 138, 8, 1);
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
}


.mySwiperAbout .swiper-button-next::after {
    content: "➞" !important;
    color: white;
    font-size: 25px !important;
    font-weight: bold;
}

.mySwiperAbout .swiper-button-prev::after {
    content: "➞" !important;
    color: white;
    font-size: 25px !important;
    font-weight: bold;
    transform: rotatey(180deg);

}

.mySwiperAbout .swiper-button-prev {
    right: 52% !important;
    left: auto !important;
    background-color: transparent;
    border: 1px rgba(239, 138, 8, 1) solid;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
}

.mySwiperAbout .swiper-slide-active {
    transform: scale(1.4) !important;
}


/*swiperProjectsImages */
.swiperProjectsImages{
    height: 300px;
}

.swiperProjectsImages .swiper-slide{
    width: 200px;
    height: 200px;
}

.swiperProjectsImages .swiper-pagination-bullet{
    background-color: #da9835;
}